/*INDEX PVS*/

/*MENU PRINCIPAL*/
.menu{
	padding-top:0;
	background-color: crimson;
}
.head-icon{
	font-size: 1em;
	transition: 1s;
	color: #0065de;
}
.head-icon:hover{
color: black;
cursor: pointer;
}

#contact-link{
	background-color: #0065de;
	height: 50%;
	color: white;
}