/*INDEX PVS*/
 body {
	font-family: 'Lato', sans-serif;
 }
/*MENU PRINCIPAL*/

.container-menu{
	float: right;
}
.row-logo{
	margin-left: 0px;
}

.site-logo{
	width: 100%;
}
.blue-btn{
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#0064de;
	border-radius: 4px;
	border: 1px solid #057fd0;
	padding:4px 12px;
	cursor: pointer;
	color: #ffffff !important;
	text-decoration: none;
	font-size: 15px;
}