@media screen and (max-width:415px){
    .banner-capt-h1, .banner-caption-h1{
        font-size: 45px !important
    }
    hr{
        margin-bottom: 30px;
    }
    .develop-h1{
        font-size: 33px !important;
        text-align: center;
    }
    .develop-text{
        line-height: 35px;
        font-size: 20px !important;
      }
    .benefits-text-p{
          text-align: justify;
    }
    .image-develop{
        height: 300px;
    }
}
@media screen and (max-width:360px){
    .banner-capt-h1, .banner-caption-h1{
        font-size: 40px !important
    }
    hr{
        margin-bottom: 30px;
    }
    .develop-h1{
        font-size: 28px !important;
        text-align: center;
    }
    .develop-text{
        line-height: 30px;
        font-size: 17px !important;
      }
    .benefits-text-p{
        text-align: justify;
  }
  .image-develop{
      height: 200px;
  }
  .frases-section{
    height: 600px;
  }
  .carousel-indicators{
      top: 300px !important;
  }
  .t-frases{
      font-size: 1.5em;
  }
}

@media screen and (max-width:320px){
   .container-menu{
       width: 100%;
       text-align: center !important;
   }
  .banner-capt-h1, .banner-caption-h1{
      font-size: 30px !important
  }
  .text-head-res{
      font-size: 12px;
  }
  .develop-h1{
      font-size: 30px;
      text-align: center;
  }
  .develop-text{
    line-height: 25px;
	font-size: 15px;
  }
  hr{
      margin-bottom: 30px;
  }
  .benefits-text-p{
     text-align: right
}
  .benefits-text{
      font-size: 18px !important;
  }
  .benefits-icon{
      margin-bottom: 90px;
  }
  .work-h1, .h1-ideology{
      font-size: 30px;
  }
  .frases-section{
    height: 400px;
  }
  .work-h3, .t-frases{
      font-size: 20px;
  }
  .logo{
      width: 175px;
  }
}

