
body{
	background-color: #fff5ee;
}
/*MAIN*/
#header{
	background-color: rgba(0,0,0,0.5);
	/*background-color: black;*/
	font-family: 'Dancing Script', cursive;
	font-size: 25px;

}
.tituloInv h1{
	font-size: 100px;
}
.tituloInv h2{
	font-size: 70px;
	color: #fdb4e0;
}
.tituloInv h3{
	font-size: 50px;
}

#main .carousel-inner img{
	height: 120vh;
	object-fit: cover;
	/*filter: grayscale(70%); */
}
#carousel{
    position: relative;

}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
   /* font-family: 'Dancing Script', cursive;*/
   font-family: 'Tangerine', cursive;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

/*History */
#history{
	height: 100%;
	background-color: #fff5ee;
	/* font-family: 'Dancing Script', cursive;*/
    font-family: 'Tangerine', cursive;

}
#history h2{
	font-size: 50px;
	    border-bottom: 1px solid black;
	    border-radius: 90px;
		
}

#textHistory{
	font-size: 40px;
}

#ubication{
	height: 100%;
	font-family: 'Dancing Script', cursive;
}
#ubication h1{
	font-size: 50px;

}

#gallery{
	height: 100%;
}

/*Footer */
#footer{
	background-color: black;
	color: #fff5ee;
}
#footer ul{
	list-style: none;
}
#footer ul li a{
	color: #fff5ee;
}

@media (min-width: 1000px) {
	.ubicationImg{
		height: 250px;
	}
}