
body{
	background-color: #fff5ee;
    /*font-family: 'Nanum Gothic', sans-serif; */
    /*font-family: 'Dosis', sans-serif; */
    /*font-family: 'News Cycle', sans-serif; */
    /*font-family: 'Raleway', sans-serif; */
    font-family: 'Great Vibes', cursive; 
}

#header{
	background-color: rgba(0,0,0,0.7);
	font-family: 'Raleway', sans-serif;
	font-size: 25px;

}
/*MAIN*/

.tituloInv h1{
	font-size: 110px;
	
}
.tituloInv h2{
	font-size: 80px;
	color: #0aab9f;
}
.tituloInv h3{
	font-size: 60px;
}

#main .carousel-inner img{
	height: 100vh;
	object-fit: cover;
}
#carousel{
    position: relative;

}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 1;
 	
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

/*Text Initial */
#textInitial{
	height: 100%;
}
#textInitial p{
	font-size: 20px;
}
#logo{
	width: 100%;
}

/*FOOTER */
#footer{
	background-color: black;
	color: #fff5ee;
}
#footer ul{
	list-style: none;
}
#footer ul li a{
	color: #fff5ee;
}
#footer ul li a:hover{
	color: cyan;
	text-decoration: none;
}
/* END FOOTER */

/* MEDIAS */
@media (max-width: 280px){
	.tituloInv h1{
		font-size: 65px;
	}
	.tituloInv h2{
		font-size: 45px;
	}
	.tituloInv h3{
		font-size: 25px;
	}
	#logo{
		width: 100%;
	}
}

